.press-contact .inside .block-content .relation .img1 {
    margin-right: 15px;
    top: 0;
    float: left;
    width: 70px;
    height: 84px;
    background: url(/theme/sitevi_git_desktop/img/_tmp/Anna-GONZALVO.jpg) 50% no-repeat;
}

.press-contact .inside .block-content .relation .img2 {
    margin-right: 15px;
    top: 0;
    float: left;
    width: 70px;
    height: 84px;
    background: url(/theme/sitevi_git_desktop/img/_tmp/Maxime-SZTABHOLZ.jpg) 50% no-repeat;
}

.press-contact .inside .block-content .relation .img3 {
    margin-right: 15px;
    top: 0;
    float: left;
    width: 70px;
    height: 84px;
    /*background: url(/theme/sitevi_git_desktop/img/_tmp/Anna-GONZALVO.jpg) 50% no-repeat;*/
}

.press-contact .inside .block-content .relation .img4 {
    margin-right: 15px;
    top: 0;
    float: left;
    width: 70px;
    height: 84px;
    background: url(/theme/sitevi_git_desktop/img/_tmp/Donatella-FIORAVANTI.jpg) 50% no-repeat;
}

.press-contact .inside .block-content .relation .img5 {
    margin-right: 15px;
    top: 0;
    float: left;
    width: 70px;
    height: 84px;
    background: url(/theme/sitevi_git_desktop/img/_tmp/Patrizia-FERRANDI.jpg) 50% no-repeat;
}

.press-contact .inside .block-content .relation .img6 {
    margin-right: 15px;
    top: 0;
    float: left;
    width: 70px;
    height: 84px;
    background: url(/theme/sitevi_git_desktop/img/_tmp/SITEVI-Guillaume.jpg) 50% no-repeat;
}
.press-contact .inside .block-content .relation .img7 {
    margin-right: 15px;
    top: 0;
    float: left;
    width: 70px;
    height: 84px;
    background: url(/theme/sitevi_git_desktop/img/_tmp/Tiphaine-Bisson.jpg) 50% no-repeat;
}




/*Catalogue - Mise en avant*/

.catalogue .mod-catal .catal-ex-item.is-premium .catal-ex-item-title {
    color: #F36F23  !important;
}

.mod-catal .catal-ex-item.is-premium .catal-ex-item-title a:hover {
    color: #f36f23;
}
.mod-catal .catal-ex-item.is-premium .catal-ex-item-title a {
    color: #f36f23;
}
.partner .pl-item-illust{width:auto;}

ins#revive-0-0 {
    display: inline-block;
    margin: 30px;
}
/*Catalogue new */
.catalogue #zone2 {
    width: 100%;}

#catalog-v2 .CatalogCard-title.CatalogCard-title--premium {
    background: #F37021 !important;}

/*cacher pagination New catalogue 2021*/
#catalog-v2 .CatalogResults {
    display: none;
}


p.at-publication {
    display: none;
}
.site-footer .inside:after {
    content: url(images/Comexposium-axema.svg);
        padding: 10px 20px 40px 47px;
    border-radius: 40px;
    background: #ffffff;
}

